body{
	background-color: #efefef !important;
	
}

.single-card{
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 30px;
	background-color: #fff;
	text-decoration: none;
}

.single-card:hover{
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	background-color: #006417;
}

.card-beta{
	font-size: 14px;
	margin-bottom: 2px;
	text-decoration: none;
}

.single-card img{
	width: 100%;
}

.single-card span{
	float: center;
	color: cornflowerblue;
	font-size: 12px;
	text-decoration: none;
}


/** Background transparent**/

.main-container{
	background-image: url('urlher.jpg');
	background-repeat: none;
	background-size: 100%;
	position: relative;
	width: 100%;
	height: 100vh;
	
}

.overlay{
	background: #0000008a;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}